force-app/main/default/flows/Interview_Scheduling_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>Screen flow for a Recruiter to schedule an interview.</description>
    <label>Interview Scheduling Screen Flow</label>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Schedule_Interview_Screen</targetReference>
        </connector>
    </start>
    <screens>
        <name>Schedule_Interview_Screen</name>
        <label>Schedule Interview</label>
        <fields>
            <name>Interview_Details</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Applicant:&lt;/b&gt; {!Get_Application.Contact__r.FirstName} {!Get_Application.Contact__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Job Title:&lt;/b&gt; {!Get_Application.Job_Opening__r.Job_Title__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interview_Date</name>
            <label>Interview Date</label>
            <fieldType>Date</fieldType>
            <required>true</required>
        </fields>
        <fields>
            <name>Interview_Time</name>
            <label>Interview Time</label>
            <fieldType>Time</fieldType>
            <required>true</required>
        </fields>
        <fields>
            <name>Interview_Notes</name>
            <label>Internal Notes</label>
            <fieldType>TextArea</fieldType>
            <required>false</required>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <connector>
            <targetReference>end</targetReference>
        </connector>
    </screens>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <object>Application__c</object>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <end>
        <locationX>50</locationX>
        <locationY>300</locationY>
    </end>
</Flow>